@import 'global';
@import 'animations';

html[dir="ltr"] {
  * {
    font-family: 'Poppins', sans-serif;
  }
}

html[dir="rtl"] {
  * {
    font-family: 'Tajawal', sans-serif;
  }
}

.navbar {
  width: 100%;
  padding: 4px 0px;
  background-color: #fff;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .search-box img{
      width: 28px;
      height: 28px;
      object-fit: contain;
      object-position: center;
    }

    .lang {
      font-size: 14px;
      font-weight: 500;
      line-height: 11px;
      color: #000;
    }
  }
}

header{
  width: 100%;

  .header-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .data {
    width: 100%;
    background-color: #fff;
    padding: 10px 0px 30px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    .contain {
      h1 {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 4px;
      }

      .location {
        color: #000;
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        margin-bottom: 4px;
      }

      .rate {
        color: #000;
        font-size: 10px;
        font-weight: 500;
        margin-inline-end: 19px;
        margin-bottom: 0px;

        span {
          color: #E0B513;
          font-weight: 700;
          margin-inline-end: 7px;
        }
      }

      .type {
        color: #606060;
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        margin-bottom: 0px;
      }

      ul {
        width: 100%;
        margin: 5px 0px;

        li {
          margin-inline-end: 5px;
          color: #000;
          font-weight: 500;
          font-size: 10px;

          &:first-child {
            font-weight: 700;
          }
        }
      }

      .desc {
        font-size: #000000;
        font-size: 8px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 5px;
      }

      .read-more {
        width: 174px;
        height: 24px;
        background-color: #F2F2F2;
        border-radius: 2px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 700;
        line-height: 11px;
        color: #5F6367;
        margin: 0px auto 10px;
        border: 0px;
        outline: none;
      }
    }

    .brand-name img{
      width: 44px;
      height: 44px;
      object-fit: contain;
    }
  }
}

.product {
  width: 100%;
  padding: 10px 0px;
  background-color: #F2F2F2;
  overflow: hidden;

  .product-contain {
    width: 100%;
    .nav {
      width: 100%;
      margin-block-start: 0px !important;
      margin-block-end: 0px !important;
      background-color: #fff;
      padding-inline-start: 0px !important;
      padding-block-start: 0px !important;
      padding: 0px 10px !important;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      overflow-x: scroll;


      &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar  {
        width: 50px !important;
        height: 10px !important;
        margin-top: 20px;
      }

      li {
        margin-inline-end: 22px;
        color: #000;
        font-size: 9px;
        font-weight: 500;
        min-width: 70px;

        a {
          min-width: 80px;
          text-align: center;
          padding: 10px 0px;
          color: #000;
          font-size: 9px;
          font-weight: 500;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #606060;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transition: all .3s linear;
          }

          &.active, &:hover {
            background-color: transparent;
            border: 0px;
            color: #000;

            &::after {
              transform: scaleX(1);
            }
          }

        }

        &:last-child {
          margin-inline-end: 0px !important;
        }
      }
    }

    .product-box {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      background-color: #fff;
      padding: 0px 5px;
      justify-content: space-between;

      .image-content img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        object-position: center;
      }

      .content {
        padding: 0px 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: 10px;
          font-weight: 700;
          color: #000;
          line-height: 11px;
          margin: 0px;
        }

        p {
          font-size: 8px;
          font-weight: 500;
          color: #606060;
          margin: 0px;
        }

        a {
          font-size: 8px;
          color: #000;
          font-weight: 700;
          margin: 0px;
        }
      }

      .button-contain {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          color: #000;
          font-size: 10px;
          font-weight: 700;
          margin: 0px;
        }

        .add-to-cart {
          width: 55px;
          height: 20px;
          background-color: #E5E5E5;
          border: 0px;
          outline: none;
          display: flex;
          align-items: center;
          align-content: center;
          overflow: hidden;
          position: relative;
          justify-content: center;
          
          .fas {
            color: #000;
            font-size: 15px;

            &.hover-icon {
              position: absolute;
              top: -60px;
              left: 50% !important;
              transform: translate(-50%, -50%) !important;
              transition: all .3s linear;
            }
          }

          span {
            color: #000;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            margin-inline-start: 4px;
          }

          &:hover {
            span, .fas {
              opacity: 0;
            }

            .fas.hover-icon {
              top: 50%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .general-card{
      width: 100%;
      padding: 22px 20px;
      background-color: #fff;
      border-radius: 36px;

      .heading-contain{
          width: 100%;
          text-align: center;

          h4{
              color: #000;
              font-size: 36px;
              font-weight: 900;
              line-height: 55px;
              margin-bottom: 16px;
          }

          p{
              color: #000;
              font-size: 16px;
              font-weight: 500;
              margin: 0px;
          }
      }
  }

  .heading {
    font-size: 12px;
    font-weight: 900;
    line-height: 11px;
    margin: 16px 0px;
  }

  .tab-content {
    width: 100%;
    padding: 0px 4px;
  }

  .cart{
    .form-contain{
      margin-top: 27px;
      width: 100%;
    }
  }

  .form-group{
      width: 100%;
      margin-bottom: 20px;

      .label-contain{
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
          margin-bottom: 10px;
      }

      .form-control{
          width: 100%;
          height: 56px;
          background-color: transparent;
          border: none;
          border-radius: 40px;
          box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: .10);
          color: #000;
          font-size: 16px;
          padding: 0px 18px;
          font-weight: 500;

          &::placeholder{
              color: rgba($color: #000000, $alpha: .6);
              font-size: 16px;
              font-weight: 500;
              line-height: 25px;
          }
      }
  }

  .cart-contain{
    .product-list{
      width: 100%;
      padding: 15px 10px;
      background-color: #F6F6F6;
      border-radius: 13px;
      margin-top: 27px;

      .product-row{
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        border-bottom: 1px solid rgba($color: #707070 , $alpha: .10);

        .button{
          width: 24px;
          height: 24px;
          border: 1px solid #23D160;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          cursor: pointer;
          background-color: #fff;

          i{
            font-size: 15px;
            color: #23D160;
          }
        }

        .data-contain{
          display: flex;

          .number , .type{
            padding: 0px 20px;
            color: #000;
            display: inline;
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
          }

          .type{
            position: relative;
            &::after{
              content: '\f00d';
              position: absolute;
              left: -10px;
              top: 0px;
              color: rgba($color: #000000, $alpha: .20);
              font-size: 20px;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
            }
          }
        }
      }
    }

    .product-info{
      width: 100%;
      padding: 15px 0px;

        li{
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          margin-bottom: 11px;

          b{
            font-weight: 900;
            color: #000;
          }

          .title{
            font-size: 12px;
            font-weight: 700;
            color: rgba($color: #0F0F0F , $alpha: .70);
          }

          .data{
            font-size: 11px;
            font-weight: 700;
            color: rgba($color: #0F0F0F, $alpha: 0.70);
          }
        }
    }
  }

  .btn-contain{
    width: 100%;
    height: 56px;
    background-color: #23D160;
    border: 1px solid #23D160;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;


    &:hover{
      background-color: #fff;
      color: #23D160;
    }
  }
}

.modal-body {
  img {
    width: 100%;
    height: 156px;
    border-radius: 15px;
    object-fit: cover;
  }

  h4 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px;
  }

  p {
    color: #000;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .form-group{
    width: 100%;
    border: 0px !important;
    margin-bottom: 20px;

    .label-contain{
      color: #000;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 10px;
    }

    .form-control{
      width: 100%;
      height: 56px;
      background-color: transparent;
      border: none;
      border-radius: 40px;
      box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: .10);
      color: #000;
      font-size: 16px;
      padding: 0px 18px;
      font-weight: 500;

      &::placeholder{
          color: rgba($color: #000000, $alpha: .6);
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
      }
    }
}

  h5 {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  h6 {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    margin-bottom: 10px;
  }

  .button-contain {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .add-to-cart {
      width: 85px;
      height: 24px;
      background-color: #fff;
      box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.150);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      border: 0px;
      outline: none;

      i, span {
        color: #23D160;
        font-size: 10px;
      }

      span {
        font-weight: 500;
        margin-inline-start: 4px;
      }

      &:hover {
        background-color: #23D160;
        
        i, span {
          color: #fff;
        }
      }
    }
  }

  
  .from-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .label-contain{
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        color: #141216;
    }
    input[type="checkbox"] , input[type="radio"]{
        appearance: none;
        -webkit-appearance: none;
        &:checked{
            &::after{
                transform: scale(1);
            }
            &+span{
                color: #fff;
            }
        }
    }
    .wrapper{
        width: 100%;
        padding: 8px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        .radio-check{
            appearance: none;
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #707070;
            background-color: #fff;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &.square-check{
                border-radius: 2px !important;

                &::after{
                    border-radius: 2px !important;
                }
            }
            &::after{
                content: '\f00c';
                width: 16px;
                height: 16px;
                background-color: #707070;
                border-radius: 50%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                transform: scale(0);
                transition: all .4s linear;
                top: 0;
                left: 0;
                font-size: 11px;
            }
            &:checked{
                &::after{
                    transform: scale(1);
                }
            }
        }
        .radio-title{
            color: #000;
            font-size: 18px;
            font-weight: 500;
            margin: 0px 10px 0px 0px;
            margin-inline-start: 12px !important;
            span{
                color: rgba($color: #000000, $alpha: .6);
                font-size: 18px;
                font-weight: 500;
                margin: 0px 10px 0px 0px;
            }
        }
        &:last-child{
            border: none;
        }
    }
    .color-lable{
        font-weight: 500;
        font-size: 15px;
        margin: 10px 0px 0px;
        color: #1D2323;
    }
    &:last-child{
        margin: 0px;
    }
}

.form-group{
    width: 100%;
    border-bottom: 1px solid rgba($color: #707070, $alpha: .10);

    &:last-child{
        border: 0px !important;
    }
}
}

@media (max-width: 999px) {
  header {
    .header-img {
      height: 170px;
    }
    
  }
}